@tailwind base;
@tailwind components;
@tailwind utilities;



/* font section */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html, body {
    font-family: 'Outfit', sans-serif;
}
* {
    font-family: 'Outfit', sans-serif;
}
/* font section */






/* intro logo fade */
.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
/* intro logo fade */

/* intro logo fade */
.fade-in-main {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.fade-out-main {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
/* intro logo fade */