/* Import Antic Didone font */
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
html {
    font-family: 'Antic Didone', sans-serif;
}




@tailwind base;
@tailwind components;
@tailwind utilities;


/* intro logo fade */
.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
/* intro logo fade */

/* intro logo fade */
.fade-in-main {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}
.fade-out-main {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
/* intro logo fade */